body {
  background-color:  blanchedalmond !important;
  overflow: auto;
}

.hero-image  {
  border-radius: 5%;
  width: 50%;
  height: 38rem;
  border-radius: 12%;
  
}





  
p {
  font-size: 20px;
  padding: 5px;
}

.bi-envelope {
  padding: 20px;

}

.major {
  background-color: aquamarine;
  margin-bottom: 15px;
}

.card-body {
  background-color: aquamarine;
}



 